.btn {
  display: inline-block;
  padding: 0.8em 3em;
  background-color: #e3364a; /* 背景色 */ 
border-color: #e3364a;
  box-shadow: 0 5px 0 #ca1c30; /* 影の太さ・色 */ 
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  text-decoration: none; /* 文字の下線を消す */
}

.btn:active {
  box-shadow: none;
  transform: translateY(5px);
}